<% var whichPage = (cPage) => {
    let pg = Object.keys(page)
    let currPage = pg.find( ele => {
        return page[ele]
    })
    if(currPage == cPage){
        return "active"
    }
    return ""
} %>

<div class="slide-menu-baner">
    <div class="slide-menu">
        <div class="header">
          <span class="menu-brand">ಫಾಂಟ್ಸ್ ಸಂಚಯ</span>
          <i class="fa fa-times fa-2x close-btn" aria-hidden="true"></i>
        </div>
        <ul class="slide-menu-item">
            <li class='<%= whichPage("fontShowPage")%>'><a href="/">ಫಾಂಟ್ಗಳನ್ನು ಜಾಲಾಡಿ</a></li>
            <li class='<%= whichPage("statsPage")%>'><a href="/stats">ಅಂಕಿಅಂಶಗಳು</a></li>
            <li class='<%= whichPage("visualizationsPage")%>'><a href="/visualizations">ವಿಜುಅಲೈಸೇಶನ್</a></li>
            <li class='<%= whichPage("aboutPage")%>'><a href="/about">ಯೋಜನೆಯ ಬಗ್ಗೆ</a></li>
            <li><a href="/bug-reports">Bug Reports</a></li>
            <li class='<%= whichPage("fontSuggestionPage")%>'><a href="/getSuggestionForm">ಫಾಂಟನ್ನು ಸೂಚಿಸಿ</a></li>
            <li><a href="https://sanchaya.org" target="_blank">ಸಂಚಯ</a></li>
            <li><a href="https://sanchifoundation.org" target="_blank">ಸಂಚಿ ಫೌಂಡೇಶನ್</a></li>
        </ul>
    </div>
    <div class="gap-filler"></div>
</div>
<nav>
    <div class="center-nav">
        <a href="/"><img src="/img/android-chrome-192x192.png" alt="ಫಾಂಟ್ಸ್ ಸಂಚಯ" class="nav-logo"></a>
        <div class="nav-tagline">ಫಾಂಟ್ಸ್ ಸಂಚಯ - ಕನ್ನಡದ ಫಾಂಟುಗಳಿಗೊಂದು ಸಂಚಯ</div>
    </div>
    <div class="menu-items">
        <a href="/" class='<%= whichPage("fontShowPage")%>'>ಫಾಂಟ್ಗಳನ್ನು ಜಾಲಾಡಿ</a>
        <div class="dropdown">
            <a class="dropbtn">Tools <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/stats" class='<%= whichPage("statsPage")%>'>ಅಂಕಿಅಂಶಗಳು</a>
                <a href="/visualizations" class='<%= whichPage("visualizationsPage")%>'>ವಿಜುಅಲೈಸೇಶನ್</a>
                <a href="/bug-reports">Bug Reports</a>
                <a href="/getSuggestionForm" class='<%= whichPage("fontSuggestionPage")%>'>ಫಾಂಟನ್ನು ಸೂಚಿಸಿ</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">ನಮ್ಮ ಬಗ್ಗೆ <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/about" class='<%= whichPage("aboutPage")%>'>ಯೋಜನೆಯ ಬಗ್ಗೆ</a>
                <a href="https://sanchaya.org" target="_blank">ಸಂಚಯ</a>
                <a href="https://sanchifoundation.org" target="_blank">ಸಂಚಿ ಫೌಂಡೇಶನ್</a>
            </div>
        </div>
    </div>
    <div class="right-nav">
        <i class="fa fa-bars fa-lg hamburger-icon" aria-hidden="true"></i>
    </div>
</nav>
