<% var whichPage = (cPage) => {
    let pg = Object.keys(page)
    let currPage = pg.find( ele => {
        return page[ele]
    })

    if(currPage == cPage){
        return "active"
    }

    return ""
} %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ಫಾಂಟ್ಸ್ ಸಂಚಯ - ಕನ್ನಡದ ಫಾಂಟುಗಳಿಗೊಂದು ಸಂಚಯ</title>
    <base href="./">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M373VNJ49"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2M373VNJ49');
    </script>
    
    <link rel="stylesheet" href="/css/all.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <% if (page.fontShowPage) { %>

        <link rel="stylesheet" href="/css/fonts.css">

        <link rel="stylesheet" href="/css/home.css">

        <script src="/js/home.js"></script>

        <script src="/js/home-api.js"></script>

    <% }
    else if(page.aboutPage){ %>
        <link rel="stylesheet" href="/css/about.css">

        <script src="/js/about.js"></script>
    <% } %>

</head>

<body>
    <div class="slide-menu-baner">
        <div class="slide-menu">
            <div class="header">
              <a href="/"><img src="img/app-icon-light.png" class="app-icon" alt="app-icon"></a>
              <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </div>
            <ul class="slide-menu-item">
                <li class='<%= whichPage('fontShowPage')%>'><a href="/">ಫಾಂಟುಗಳನ್ನು ಜಾಲಾಡಿ</a></li>
                <li class='<%= whichPage('aboutPage')%>'><a href="/about">ಯೋಜನೆಯ ಬಗ್ಗೆ</a></li>
            </ul>
        </div>
        <div class="gap-filler">

        </div>
    </div>
    <nav>
        <div class="left-nav">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <a href="/"><img src="img/app-icon-light.png" alt="app-icon" class="app-icon"></a>
        </div>
        <div class="tot-right-nav">
            <div class="right-nav">
                <div class="browse-font-tab <%= whichPage('fontShowPage')%>">
                    <span><a href="/">ಫಾಂಟುಗಳನ್ನು ಜಾಲಾಡಿ</a></span>
                </div>
                <div class="about-us-tab <%= whichPage('aboutPage')%>">
                    <span><a href="/about">ಯೋಜನೆಯ ಬಗ್ಗೆ</a></span>
                </div>
            </div>
            <div class="static-right-nav">
                <div class="dark-light">
                    <input type="checkbox" id="dark-light-toggle" name="dark-light-toggle">
                    <label for="dark-light-toggle" class="dark-light-toggle-icon">
                        <i class="fas fa-sun fa-lg"></i>
                        <i class="fas fa-moon fa-lg"></i>
                    </label>
                </div>
                <div class="selected-family <%= whichPage('fontSuggestionPage')%>">
                    <span>
                        <a href="/getSuggestionForm"><i class="fa fa-plus fa-lg"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <% if (page.fontShowPage) { %>
        <%- include('home/home') %>
    <% }
    else if(page.aboutPage){ %>
        <%- include('aboutUs/aboutUs') %>
    <% } %>
</body>

</html>
