<% var whichPage = (cPage) => {
    let pg = Object.keys(page)
    let currPage = pg.find( ele => {
        return page[ele]
    })

    if(currPage == cPage){
        return "active"
    }

    return ""
} %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ಫಾಂಟ್ಸ್ ಸಂಚಯ - ಕನ್ನಡ ಫಾಂಟುಗಳಿಗೊಂದು ಸಂಚಯ</title>
  <base href="/">
  <link rel="icon" type="image/png" href="/img/app-icon-light.png">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>‍
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2M373VNJ49"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2M373VNJ49');
</script>
  <script src="/js/script.js"></script>
  <% if(page.fontShowPage){ %>
    <script src="/js/fontShowPage.js"></script>
    <link rel="stylesheet" href="/css/inputStyle.css"/>
    <script src="/js/inputStyle.js"></script>
    <script src="/js/language.js"></script>

    <link rel="stylesheet" href="/css/home-page.css">
  <% } %>
  <% if(page.fontPage){ %>
    <style>
      .overview-char-cnt, #in-para-txt{
        font-family: "<%= font%>", cursive;
      }
    </style>

    <link rel="stylesheet" href="/css/inputStyle.css"/>
    <script src="/js/inputStyle.js"></script>
    <script src="/js/language.js"></script>

  <% }if(page.fontFamilyPage){ %>
    <link rel="stylesheet" href="/css/inputStyle.css"/>
    <link rel="stylesheet" href="/css/fontFamily.css">
    <script src="/js/inputStyle.js"></script>
    <script src="/js/language.js"></script>
  <% } %>
</head>
<body>

    <div class="slide-menu-baner">
        <div class="slide-menu">
            <div class="header">
              <a href="/"><img src="img/app-icon-light.png" class="app-icon" alt="app-icon"></a>
              <i class="fa fa-times fa-2x" aria-hidden="true"></i>
            </div>
            <ul class="slide-menu-item">
                <li class=''><a href="/">ಫಾಂಟುಗಳನ್ನು ಜಾಲಾಡಿ</a></li>
                <li class=''><a href="/about">ಯೋಜನೆಯ ಬಗ್ಗೆ</a></li>
                <li class=''><a href="/bug-reports">Bug Reports</a></li>
                <li class=''><a href="/getSuggestionForm">ಫಾಂಟನ್ನು ಸೂಚಿಸಿ</a></li>
            </ul>
        </div>
        <div class="gap-filler">

        </div>
    </div>
    <nav>
        <div class="left-nav">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="center-nav">
            <a href="/"><img src="img/app-icon-light.png" alt="ಫಾಂಟ್ಸ್ ಸಂಚಯ" class="nav-logo"></a>
            <div class="nav-tagline">ಫಾಂಟ್ಸ್ ಸಂಚಯ - ಕನ್ನಡದ ಫಾಂಟುಗಳಿಗೊಂದು ಸಂಚಯ</div>
        </div>
        <div class="right-nav">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
    </nav>
        <% if(page.fontPage){ %>
        <% var fontDir = fontFamily.replace(/-/g, '_') %>
        <link rel="stylesheet" type="text/css" href="/Fonts/<%= fontDir %>/<%= font %>.ttf">
        <div class="font-info-bar">
            <div class="container">
                <div class="font-meta">
                    <div class="meta-item">
                        <span class="meta-label">Author</span>
                        <span class="meta-value"><%= fontMetadata.author || 'Not Available' %></span>
                    </div>
                    <div class="meta-item">
                        <span class="meta-label">License</span>
                        <span class="meta-value"><%= fontMetadata.license || 'Unknown' %></span>
                    </div>
                    <% if(fontMetadata.foundry) { %>
                    <div class="meta-item">
                        <span class="meta-label">Foundry</span>
                        <span class="meta-value"><%= fontMetadata.foundry %></span>
                    </div>
                    <% } %>
                    <% if(fontMetadata.source) { %>
                    <div class="meta-item">
                        <span class="meta-label">Source</span>
                        <a href="<%= fontMetadata.source %>" target="_blank" class="meta-link">View Source</a>
                    </div>
                    <% } %>
                    <% 
                    var isOpenSource = false;
                    var license = (fontMetadata.license || '').toLowerCase();
                    if (license.includes('ofl') || license.includes('sil') || license.includes('mit') || license.includes('apache') || license.includes('gnu') || license.includes('public domain') || license.includes('free')) {
                        isOpenSource = true;
                    }
                    %>
                    <% if(isOpenSource) { %>
                    <div class="meta-item">
                        <span class="meta-label">Download</span>
                        <a href="/Fonts/<%= fontDir %>/<%= font %>.ttf" download class="meta-link download-btn">Download Font</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <h2 class="font-title"><%= font %></h2>
        <%- include('fontSelectedPage/fontSelectedPage',{
            syllabary:syllabary,
            conjuncts:conjuncts,
            overview:overview
        }) %>
    <% }else if(page.fontShowPage){%>
        <%- include('fontShowPage/fontShowPage') %>
    <% }else if(page.errorPage){ %>
        <h2 class="text-danger" style="text-align: center;"><%= msg %></h2>
    <% }else if(page.fontFamilyPage){ %>
        <%- include('fontFamilyPage/fontFamilyPage', {data: data}) %>
    <% } %>


</body>
</html>
